---
import { and, eq } from "drizzle-orm";

import { Button } from "@/components/ui/button";

import { db, schema } from "@/lib/db";
import { createId } from "@/lib/id";

export const partial = true;

const { session, t } = Astro.locals;

if (!session) {
  return Astro.redirect("/");
}

const alreadyCreatedPets = await db
  .select()
  .from(schema.pets)
  .where(
    and(
      eq(schema.pets.userId, session.user.userId),
      eq(schema.pets.creating, true),
    ),
  );

if (!alreadyCreatedPets?.length) {
  await db.insert(schema.pets).values({
    id: createId(),
    userId: session.user.userId,
    name: "",
    type: "cat",
    breed: "",
    birthday: "",
    picture: "",
    creating: true,
  });
}
---

<h1 class="font-semibold text-4xl">{t("pet.creation.type")}</h1>
<div class="space-y-4 flex flex-col">
  <form>
    <input type="hidden" name="type" value="dog" />
    <Button
      className="text-lg w-36"
      hx-post={Astro.locals.translatePath("/pets/new/partials/name")}
    >
      {t("pet.emoji.dog")}{" "}
      {t("pet.type.dog")}
    </Button>
  </form>
  <form>
    <input type="hidden" name="type" value="cat" />
    <Button
      className="text-lg w-36"
      hx-post={Astro.locals.translatePath("/pets/new/partials/name")}
    >
      {t("pet.emoji.cat")}{" "}
      {t("pet.type.cat")}
    </Button>
  </form>
  <form>
    <input type="hidden" name="type" value="bird" />
    <Button
      className="text-lg w-36"
      hx-post={Astro.locals.translatePath("/pets/new/partials/name")}
    >
      {t("pet.emoji.bird")}{" "}
      {t("pet.type.bird")}
    </Button>
  </form>
</div>
