---
import Global from "@/layouts/global.astro";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

const session = Astro.locals.session;

if (session) {
  return Astro.redirect("/app");
}
---

<Global title="My Pet">
  <div class="h-vh flex items-center justify-center">
    <a href="/auth/google" class={cn(buttonVariants(), "mt-4")}>
      Login with Google
    </a>
  </div>
</Global>
